:root {
    --primary-font: Arial, sans-serif;
    --primary-color-rgb: 0, 120, 200;

    --feature-color-rgb: 0, 128, 0;
    --feature-btn--disabled-color-rgb: 128, 128, 128;

    --border-color: rgba(var(--primary-color-rgb), 0.5);
    --border-radius: 5px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    margin: 10px;
    padding: 10px;
    border: var(--border-radius) solid var(--border-color);
}

.app {
    width: 550px;
    max-width: 100%;
}

.app__title {
    text-align: center;
}

.btn {
    width: 100%;
    padding: 10px;
    margin: 6px 0px;
    border: none;
    border-radius: var(--border-radius);
    color: #fff;
    cursor: pointer;
}

.btn--main {
    background-color: rgba(var(--primary-color-rgb), 0.9);
    transition: background-color 0.3s ease;
}

.btn--main:hover {
    background-color: rgba(var(--primary-color-rgb), 1);
}

.btn--feature.btn--enabled {
    background-color: rgba(var(--feature-color-rgb), 0.9);
    transition: background-color 0.3s ease;
}

.btn--feature.btn--enabled:hover {
    background-color: rgba(var(--feature-color-rgb), 1);
}

.btn--feature.btn--disabled {
    background-color: rgba(var(--feature-btn--disabled-color-rgb), 1);
}

.btn--feature.btn--disabled:hover {
    background-color: rgba(var(--feature-color-rgb), 1);
}

.app__inline-group {
    display: flex;
    gap: 10px;
}

.app__inline-group > * {
    flex: 1;
    width: auto;
}

.app__inline-group > .btn--icon {
    flex: 0.1;
}

.app__inline-group > .btn {
    display: flex;
    justify-content: center;
}

.form-field {
    display: flex;
    border: 2px solid black;
    border-radius: var(--border-radius);
    padding: 8px;
    margin: 6px 0px;
}

.form-field__icon {
    margin-right: 10px;
}

.form-field__input {
    flex: 1;
    border: none;
    outline: none;
}

.btn--icon {
    background: none;
    border: 2px solid rgba(var(--primary-color-rgb), 1);
    color: rgba(var(--primary-color-rgb), 1);
    cursor: pointer;
}

.btn--icon:hover {
    background-color: rgba(var(--primary-color-rgb), 1);
    color: #fff;
}