body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    border: 5px solid rgba(0, 120, 200, 0.5);
}

.container {
    width: 550px;
    max-width: 100%;
    padding: 10px;
}

h2 {
    text-align: center;
}

button {
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.inline-group {
    display: flex;
    gap: 10px;
}

.inline-group > * {
    flex: 1;
    width: auto;
}

.feature-button button.enabled {
    background-color: green;
}

.feature-button button.enabled:hover {
    background-color: darkgreen;
}

.feature-button button.disabled {
    background-color: grey;
}

#monitor {
    background-color: rgba(0, 120, 200, 0.8);
}

#monitor:hover {
    background-color: rgba(0, 120, 200, 1);
}

.input-container {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
}

.input-container i {
    margin-right: 10px;
}

.input-container input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
}

.icon-button {
    background: none;
    border: 2px solid #0078c8;
    cursor: pointer;
    font-size: 16px;
    color: #0078c8;
}

.icon-button:hover {
    background-color: #0078c8;
    color: white;
}

.inline-group-adaptive {
    display: flex;
    gap: 10px;
}

.inline-group-adaptive .input-container {
    flex: 9;
}

.inline-group-adaptive .icon-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}